spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/course_work_db
    username: postgres
    password: uenfkby2004
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  thymeleaf:
    cache: false

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG